*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  #button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    top: 10px;
    left: 10px;
    z-index: 1;
}
  
  .toggle-button,.update-button {
    padding: 10px;
    margin: 5px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-button.active,.update-button.active{
    background-color: black;
  }
  
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


